<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>叮当</title>
    <link rel="stylesheet" type="text/css" href="static/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/main.css"/>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">nosql实验</a></h1>
            <ul class="navbar-list clearfix">
                <li><a class="on" href="index.html">首页</a></li>
                <li><a href="/" target="_blank">叮当</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a href="#">我的</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>常用操作</a>
                    <ul class="sub-menu">
                        <li><a href="/"><i class="icon-font">&#xe008;</i>实验4</a></li>
                        <li><a href="/lab5"><i class="icon-font">&#xe008;</i>实验5</a></li>
                        <li><a href="/lab6"><i class="icon-font">&#xe008;</i>实验6</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a>><span>lab5</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action=" " method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>类型</th>
                                <td>
                                    <input class="common-text required" id="leixing" name="leixing" size="10" value="" type="text">

                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>id</th>
                                <td><input class="common-text" name="chaxunid" size="10" value=""type="text"></td>

                            </tr>
                            <tr>
                                <th></th>
                                <td><input class="btn btn-primary btn6 mr10"name="chaxun" value="查询" type="submit"></td>
                            </tr>
                            <tr>
                                <th>内容：</th>
                                <td><textarea name="content" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10" >{{ u }}</textarea></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onClick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>